{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Правила</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Правила настольного тенниса (до 11 очков)</h1>
  <div class="content">
      <ul>
          <li><strong>Цель игры:</strong> Набрать 11 очков с отрывом минимум в 2 очка. При счете 10:10 игра продолжается до разницы в 2 очка.</li>
          <li><strong>Подачи:</strong> Игроки выполняют по 2 подачи подряд, чередуясь. При счете 10:10 подача меняется после каждого очка.</li>
          <li><strong>Правила подачи:</strong>
              <ul>
                  <li>Мяч подбрасывается вертикально вверх минимум на 16 см.</li>
                  <li>Мяч должен сначала коснуться своей половины, затем половины соперника.</li>
                  <li>Рука, подающая мяч, должна быть открытой и выше уровня стола.</li>
              </ul>
          </li>
          <li><strong>Порядок игры:</strong>
              <ul>
                  <li>Первый подающий определяется по жребию или договоренности.</li>
                  <li>После каждой партии – смена сторон.</li>
                  <li>В решающей партии стороны меняются при счете 5:5.</li>
              </ul>
          </li>
          <li><strong>Когда засчитывается очко:</strong>
              <ul>
                  <li>Если соперник не вернул мяч правильно.</li>
                  <li>Мяч отскочил дважды на его стороне.</li>
                  <li>Промах по мячу.</li>
                  <li>Нарушение правил подачи или касание стола рукой.</li>
              </ul>
          </li>
      </ul>
  </div>

</body>
</html>